@import url('https://www.cdnfonts.com/proxima-nova-2.font');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 65%;
  font-family: 'Proxima Nova', sans-serif;
  background: rgba(167, 165, 165, 0.5);
}

header {
  width: 100%;
  background: #031a35;
  padding: 1em 1.5em;
  font-size: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: none;
  border: none;
}
